In [2]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
r=requests.get("https://companiesmarketcap.com/canoo/total-liabilities/")
print(r.status_code)

200

In [6]:
soup=BeautifulSoup(r.text,'html.parser')

In [8]:
table = soup.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "Total_liabilities", "Diff_liabilities"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        liabilities = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,liabilities,diff])

df_liability = pd.DataFrame(
    mylist,
    columns=["Year", "Total_liabilities", "Diff_liabilities"]
)

In [9]:
df_liability

         Year Total_liabilities Diff_liabilities
0  2022-12-31           $0.25 B           45.13%
1  2021-12-31           $0.17 B            -1.4%
2  2020-12-31           $0.18 B           41.94%
3  2019-12-31           $0.12 B

In [10]:
r1=requests.get("https://companiesmarketcap.com/canoo/ps-ratio/")
soup1=BeautifulSoup(r1.text,'html.parser')

In [11]:
table = soup1.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "PS_ratio", "Diff_psratio"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        ps = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,ps,diff])

df_ps = pd.DataFrame(
    mylist,
    columns=["Year", "PS_ratio", "Diff_psratio"]
)

In [12]:
df_ps

   Year PS_ratio Diff_psratio
0  2023      599
1  2022      N/A
2  2021      N/A

In [15]:
r2=requests.get("https://companiesmarketcap.com/canoo/pe-ratio/")
soup2=BeautifulSoup(r2.text,'html.parser')
table = soup2.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "PE_ratio", "Diff_pEratio"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        pe = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,pe,diff])

df_pe = pd.DataFrame(
    mylist,
    columns=["Year", "PE_ratio", "Diff_pEratio"]
)

In [16]:
df_pe

   Year PE_ratio Diff_pEratio
0  2022  -0.6474      -87.25%
1  2021    -5.08      -65.77%
2  2020    -14.8

In [17]:
r3=requests.get("https://companiesmarketcap.com/canoo/eps/")
soup3=BeautifulSoup(r3.text,'html.parser')
table = soup3.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "eps", "Diff_eps"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        eps = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,eps,diff])

df_eps = pd.DataFrame(
    mylist,
    columns=["Year", "eps", "Diff_eps"]
)

In [18]:
df_eps

         Year     eps Diff_eps
0  2023 (TTM)  -$1.04  -45.26%
1        2022  -$1.90      25%
2        2021  -$1.52   63.44%
3        2020  -$0.93

In [19]:
r4=requests.get("https://companiesmarketcap.com/canoo/pb-ratio/")
soup4=BeautifulSoup(r4.text,'html.parser')
table = soup4.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "PB_ratio", "Diff_PB"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        pb = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,pb,diff])

df_pb = pd.DataFrame(
    mylist,
    columns=["Year", "PB_ratio", "Diff_PB"]
)

In [20]:
df_pb

         Year PB_ratio  Diff_PB
0  2022-12-31     1.86  -65.25%
1  2021-12-31     5.36   -5.77%
2  2020-12-31     5.69

In [21]:
r5=requests.get("https://companiesmarketcap.com/canoo/cash-on-hand/")
soup5=BeautifulSoup(r5.text,'html.parser')
table = soup5.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "cash_on_hand", "Diff_cash"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        cash = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,cash,diff])

df_cash = pd.DataFrame(
    mylist,
    columns=["Year", "cash_on_hand", "Diff_cash"]
)

In [22]:
df_cash

         Year cash_on_hand Diff_cash
0  2022-12-31     $36.58 M   -83.72%
1  2021-12-31      $0.22 B   -68.01%
2  2020-12-31      $0.70 B  2321.56%
3  2019-12-31        $29 M

In [23]:
r5=requests.get("https://companiesmarketcap.com/canoo/total-assets/")
soup5=BeautifulSoup(r5.text,'html.parser')
table = soup5.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "Total_assets", "Diff_assets"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        assets = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,assets,diff])

df_assets = pd.DataFrame(
    mylist,
    columns=["Year", "Total_assets", "Diff_assets"]
)

In [24]:
df_assets

         Year Total_assets Diff_assets
0  2022-12-31      $0.49 B      -5.09%
1  2021-12-31      $0.52 B     -30.58%
2  2020-12-31      $0.75 B     945.32%
3  2019-12-31     $72.08 M

In [26]:
r6=requests.get("https://companiesmarketcap.com/canoo/total-debt/")
soup6=BeautifulSoup(r6.text,'html.parser')
table = soup6.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "Total_debt", "Diff_debt"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        debt = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,debt,diff])

df_debt = pd.DataFrame(
    mylist,
    columns=["Year", "Total_debt", "Diff_debt"]
)

In [28]:
df_debt

         Year Total_debt Diff_debt
0  2022-12-31   $73.43 M   431.15%
1  2021-12-31   $13.82 M   -31.57%
2  2020-12-31    $20.2 M   -79.82%
3  2019-12-31    $0.10 B

In [47]:
r7=requests.get("https://companiesmarketcap.com/canoo/net-assets/")
soup7=BeautifulSoup(r7.text,'html.parser')
table = soup7.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "Net_assets", "net_Diff"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        net_assets = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,net_assets,diff])

df_net_assets = pd.DataFrame(
    mylist,
    columns=["Year", "Net_assets", "net_Diff"]
)

In [48]:
df_net_assets

         Year Net_assets   net_Diff
0  2022-12-31    $0.23 B    -31.23%
1  2021-12-31    $0.34 B    -39.85%
2  2020-12-31    $0.57 B  -1123.58%
3  2019-12-31  $-55.87 M

In [49]:
def convert_date(obj):
    if len(obj)>5:
        return obj[:4]
    else:
        return obj

In [50]:
df_net_copy=df_net_assets.copy()

In [51]:
df_net_copy['Year']=df_net_copy['Year'].apply(convert_date)

In [53]:
df_net_copy.dtypes

Year          object
Net_assets    object
net_Diff      object
dtype: object

In [54]:
df_net_assets["Year"]=df_net_assets["Year"].apply(convert_date)
df_net_assets

   Year Net_assets   net_Diff
0  2022    $0.23 B    -31.23%
1  2021    $0.34 B    -39.85%
2  2020    $0.57 B  -1123.58%
3  2019  $-55.87 M

In [55]:
df_debt["Year"]=df_debt["Year"].apply(convert_date)
df_debt

   Year Total_debt Diff_debt
0  2022   $73.43 M   431.15%
1  2021   $13.82 M   -31.57%
2  2020    $20.2 M   -79.82%
3  2019    $0.10 B

In [56]:
df_assets["Year"]=df_assets["Year"].apply(convert_date)
df_assets

   Year Total_assets Diff_assets
0  2022      $0.49 B      -5.09%
1  2021      $0.52 B     -30.58%
2  2020      $0.75 B     945.32%
3  2019     $72.08 M

In [57]:
df_cash["Year"]=df_cash["Year"].apply(convert_date)
df_cash

   Year cash_on_hand Diff_cash
0  2022     $36.58 M   -83.72%
1  2021      $0.22 B   -68.01%
2  2020      $0.70 B  2321.56%
3  2019        $29 M

In [58]:
df_liability["Year"]=df_liability["Year"].apply(convert_date)
df_liability

   Year Total_liabilities Diff_liabilities
0  2022           $0.25 B           45.13%
1  2021           $0.17 B            -1.4%
2  2020           $0.18 B           41.94%
3  2019           $0.12 B

In [59]:
df_pb["Year"]=df_pb["Year"].apply(convert_date)
df_pb

   Year PB_ratio  Diff_PB
0  2022     1.86  -65.25%
1  2021     5.36   -5.77%
2  2020     5.69

In [64]:
df_eps_cpy=df_eps.copy()

In [68]:
df_eps["Year"]=df_eps["Year"].apply(convert_date)

In [69]:
df_eps

   Year     eps Diff_eps
0  2023  -$1.04  -45.26%
1  2022  -$1.90      25%
2  2021  -$1.52   63.44%
3  2020  -$0.93

In [78]:
df_eps_pb=pd.merge(df_eps,df_pb,on="Year",how="left")
df_eps_pb_lia=pd.merge(df_eps_pb,df_liability,how="left",on="Year")
df_eps_pb_liaca=pd.merge(df_eps_pb_lia,df_cash,on="Year",how="left")
df_eps_pb_liacaps=pd.merge(df_eps_pb_liaca,df_ps,on="Year",how="left")
df_eps_pb_liacapspe=pd.merge(df_eps_pb_liacaps,df_pe,on="Year",how="left")
df_eps_pb_liacapspe_assets=pd.merge(df_eps_pb_liacapspe,df_assets,on="Year",how="left")
df_eps_pb_liacapspe_assets_debt=pd.merge(df_eps_pb_liacapspe_assets,df_debt,on="Year",how="left")
df_result=pd.merge(df_eps_pb_liacapspe_assets_debt,df_net_assets,on="Year",how="left")

In [79]:
df_result

,Year,eps,Diff_eps,PB_ratio,Diff_PB,Total_liabilities,Diff_liabilities,cash_on_hand,Diff_cash,PS_ratio,Diff_psratio,PE_ratio,Diff_pEratio,Total_assets,Diff_assets,Total_debt,Diff_debt,Net_assets,net_Diff
0,2023,-$1.04,-45.26%,NaN,NaN,NaN,NaN,NaN,NaN,599,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,-$1.90,25%,1.86,-65.25%,$0.25 B,45.13%,$36.58 M,-83.72%,N/A,,-0.6474,-87.25%,$0.49 B,-5.09%,$73.43 M,431.15%,$0.23 B,-31.23%
2,2021,-$1.52,63.44%,5.36,-5.77%,$0.17 B,-1.4%,$0.22 B,-68.01%,N/A,,-5.08,-65.77%,$0.52 B,-30.58%,$13.82 M,-31.57%,$0.34 B,-39.85%
3,2020,-$0.93,,5.69,,$0.18 B,41.94%,$0.70 B,2321.56%,NaN,NaN,-14.8,,$0.75 B,945.32%,$20.2 M,-79.82%,$0.57 B,-1123.58%

In [80]:
df_result.to_csv("canoo_finacials.csv")

In [81]:
r8=requests.get("https://stockanalysis.com/stocks/goev/statistics/")
r8.status_code

200

In [83]:
soup8=BeautifulSoup(r8.text,'html.parser')

In [93]:
table= soup8.find_all('table',class_="w-full")[6]
#print(table)
table_rows=table.find_all("tr")
print(table_rows[0].text)
f = pd.DataFrame(
    columns=["Component", "Value"]
)
mylist = []
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        Component = table_columns[0].text.strip()
        value = table_columns[1].text.strip()

        mylist.append([Component,value])

df1 = pd.DataFrame(
    mylist,
    columns=['Component','Value']
)

 Return on Equity (ROE)   -159.60%

In [94]:
df1

                  Component      Value
0    Return on Equity (ROE)   -159.60%
1    Return on Assets (ROA)    -69.30%
2  Return on Capital (ROIC)    -90.68%
3      Revenue Per Employee       $639
4      Profits Per Employee  -$435,722
5            Employee Count        812
6            Asset Turnover       0.00
7        Inventory Turnover       0.26

In [96]:
table= soup8.find_all('table',class_="w-full")[8]
#print(table)
table_rows=table.find_all("tr")
#print(table_rows[0].text)
f = pd.DataFrame(
    columns=["Component", "Value"]
)
mylist = []
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        Component = table_columns[0].text.strip()
        value = table_columns[1].text.strip()

        mylist.append([Component,value])

df2 = pd.DataFrame(
    mylist,
    columns=['Component','Value']
)

In [97]:
df2

                       Component       Value
0                      Beta (1Y)        1.30
1           52-Week Price Change     -84.26%
2          50-Day Moving Average        0.21
3         200-Day Moving Average        0.42
4  Relative Strength Index (RSI)       35.65
5       Average Volume (30 Days)  53,537,350

In [98]:
table= soup8.find_all('table',class_="w-full")[10]
#print(table)
table_rows=table.find_all("tr")
print(table_rows[0].text)
f = pd.DataFrame(
    columns=["Component", "Value"]
)
mylist = []
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        Component = table_columns[0].text.strip()
        value = table_columns[1].text.strip()

        mylist.append([Component,value])

df3 = pd.DataFrame(
    mylist,
    columns=['Component','Value']
)

 Revenue   519,000

In [99]:
df3

          Component     Value
0           Revenue   519,000
1      Gross Profit  -384,000
2  Operating Income  -287.03M
3     Pretax Income  -353.81M
4        Net Income  -353.81M
5            EBITDA  -330.48M
6              EBIT  -346.99M
7    Loss Per Share    -$0.73

In [100]:
table= soup8.find_all('table',class_="w-full")[11]
#print(table)
table_rows=table.find_all("tr")
print(table_rows[0].text)
f = pd.DataFrame(
    columns=["Component", "Value"]
)
mylist = []
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        Component = table_columns[0].text.strip()
        value = table_columns[1].text.strip()

        mylist.append([Component,value])

df4 = pd.DataFrame(
    mylist,
    columns=['Component','Value']
)

 Cash & Cash Equivalents   14.31M

In [101]:
df4

                 Component     Value
0  Cash & Cash Equivalents    14.31M
1               Total Debt   150.88M
2                 Net Cash  -136.57M
3       Net Cash Per Share    -$0.14
4      Equity / Book Value   165.65M
5     Book Value Per Share      0.17
6          Working Capital  -154.85M

In [102]:
table= soup8.find_all('table',class_="w-full")[12]
#print(table)
table_rows=table.find_all("tr")
print(table_rows[0].text)
f = pd.DataFrame(
    columns=["Component", "Value"]
)
mylist = []
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        Component = table_columns[0].text.strip()
        value = table_columns[1].text.strip()

        mylist.append([Component,value])

df5 = pd.DataFrame(
    mylist,
    columns=['Component','Value']
)

 Operating Cash Flow   -262.05M

In [103]:
df5

              Component     Value
0   Operating Cash Flow  -262.05M
1  Capital Expenditures   -53.83M
2        Free Cash Flow  -315.88M
3         FCF Per Share    -$0.51

In [104]:
table= soup8.find_all('table',class_="w-full")[13]
#print(table)
table_rows=table.find_all("tr")
print(table_rows[0].text)
f = pd.DataFrame(
    columns=["Component", "Value"]
)
mylist = []
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        Component = table_columns[0].text.strip()
        value = table_columns[1].text.strip()

        mylist.append([Component,value])

df6 = pd.DataFrame(
    mylist,
    columns=['Component','Value']
)

 Gross Margin   -73.99%

In [105]:
df6

          Component        Value
0      Gross Margin      -73.99%
1  Operating Margin  -55,305.20%
2     Pretax Margin  -68,170.71%
3     Profit Margin  -68,170.71%
4     EBITDA Margin  -63,676.49%
5       EBIT Margin  -66,857.61%
6        FCF Margin  -60,862.43%

In [106]:
table= soup8.find_all('table',class_="w-full")[14]
#print(table)
table_rows=table.find_all("tr")
print(table_rows[0].text)
f = pd.DataFrame(
    columns=["Component", "Value"]
)
mylist = []
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        Component = table_columns[0].text.strip()
        value = table_columns[1].text.strip()

        mylist.append([Component,value])

df7 = pd.DataFrame(
    mylist,
    columns=['Component','Value']
)

 Dividend Per Share   n/a

In [107]:
df7

                  Component     Value
0        Dividend Per Share       n/a
1            Dividend Yield       n/a
2     Dividend Growth (YoY)       n/a
3  Years of Dividend Growth       n/a
4              Payout Ratio       n/a
5             Buyback Yield  -125.55%
6         Shareholder Yield  -125.55%
7            Earnings Yield  -261.61%
8                 FCF Yield  -233.56%

In [108]:
table= soup8.find_all('table',class_="w-full")[15]
#print(table)
table_rows=table.find_all("tr")
print(table_rows[0].text)
f = pd.DataFrame(
    columns=["Component", "Value"]
)
mylist = []
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        Component = table_columns[0].text.strip()
        value = table_columns[1].text.strip()

        mylist.append([Component,value])

df8 = pd.DataFrame(
    mylist,
    columns=['Component','Value']
)

 Price Target   $2.33

In [109]:
df8

                      Component       Value
0                  Price Target       $2.33
1       Price Target Difference   1,553.66%
2             Analyst Consensus  Strong Buy
3                 Analyst Count           4
4  Revenue Growth Forecast (5Y)         n/a
5      EPS Growth Forecast (5Y)         n/a

In [110]:
result=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8],axis=0,ignore_index=True)
result

                        Component        Value
0          Return on Equity (ROE)     -159.60%
1          Return on Assets (ROA)      -69.30%
2        Return on Capital (ROIC)      -90.68%
3            Revenue Per Employee         $639
4            Profits Per Employee    -$435,722
5                  Employee Count          812
6                  Asset Turnover         0.00
7              Inventory Turnover         0.26
8                       Beta (1Y)         1.30
9            52-Week Price Change      -84.26%
10          50-Day Moving Average         0.21
11         200-Day Moving Average         0.42
12  Relative Strength Index (RSI)        35.65
13       Average Volume (30 Days)   53,537,350
14                        Revenue      519,000
15                   Gross Profit     -384,000
16               Operating Income     -287.03M
17                  Pretax Income     -353.81M
18                     Net Income     -353.81M
19                         EBITDA     -330.48M
20                           EBIT     -346.99M
21                 Loss Per Share       -$0.73
22        Cash & Cash Equivalents       14.31M
23                     Total Debt      150.88M
24                       Net Cash     -136.57M
25             Net Cash Per Share       -$0.14
26            Equity / Book Value      165.65M
27           Book Value Per Share         0.17
28                Working Capital     -154.85M
29            Operating Cash Flow     -262.05M
30           Capital Expenditures      -53.83M
31                 Free Cash Flow     -315.88M
32                  FCF Per Share       -$0.51
33                   Gross Margin      -73.99%
34               Operating Margin  -55,305.20%
35                  Pretax Margin  -68,170.71%
36                  Profit Margin  -68,170.71%
37                  EBITDA Margin  -63,676.49%
38                    EBIT Margin  -66,857.61%
39                     FCF Margin  -60,862.43%
40             Dividend Per Share          n/a
41                 Dividend Yield          n/a
42          Dividend Growth (YoY)          n/a
43       Years of Dividend Growth          n/a
44                   Payout Ratio          n/a
45                  Buyback Yield     -125.55%
46              Shareholder Yield     -125.55%
47                 Earnings Yield     -261.61%
48                      FCF Yield     -233.56%
49                   Price Target        $2.33
50        Price Target Difference    1,553.66%
51              Analyst Consensus   Strong Buy
52                  Analyst Count            4
53   Revenue Growth Forecast (5Y)          n/a
54       EPS Growth Forecast (5Y)          n/a

In [111]:
result.to_csv("canoo financials.csv")